.gift-ideas{
  display: flex;
  margin-top: 60px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0;
  }
  .orange-underline{
    width: 70px;
    height: 3px;
    background-color: #F76E11;
  }
}

.container{
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: center;
  // display: grid;
  // grid-template-columns: repeat(8, 1fr);
  // column-gap: 20px;
  
  
  h2{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    margin-left: 10px;
    flex: 6;
  }

@media (max-width: 480px){
  width: 100vw;
  .panel:nth-of-type(4),
  .panel:nth-of-type(5){
  display: none;
}
}

  @media(max-width: 340px){

  flex: 4;
  }
}

// @media(max-width: 480px){
//   .container{
//     width: 100vw;
//   }

// .panel:nth-of-type(4),
// .panel:nth-of-type(5){
//   display: none;
// }
// }