.panel{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // height: 80vh;
  height: -webkit-fill-available;
  border-radius: 1rem;
  color: aliceblue;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;

  h3{
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    margin: 0;
    opacity: 0;
  }
}

.panel.active{
  flex: 4;

  h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
}

