*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  font-family: 'Open Sans', 
    sans-serif;
    color: #694E4E;
    scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

img { max-width: 100%; height: auto; }

// $breakpoints: (phone: 653px, 
//                tablet: 768px, 
//                desktop: 1024px) !default;
